In [1]:
import pandas as pd

In [2]:
!ls

aivo  aivo.csv	api  db.sqlite3  manage.py  Untitled.ipynb

In [10]:
df = pd.read_csv('aivo.csv', sep=',')
df.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.3,NaN,NaN
1,AUT,Austria,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,2.7,NaN,NaN
2,BEL,Belgium,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,4.8,NaN,NaN
3,CAN,Canada,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,3.9,NaN,NaN
4,CZE,Czech Republic,JE_LMIS,Labour market insecurity,L,Value,TOT,Total,PC,Percentage,0,Units,NaN,NaN,1.8,NaN,NaN

In [4]:
df.Indicator.unique()

array(['Labour market insecurity',
       'Stakeholder engagement for developing regulations',
       'Feeling safe walking alone at night',
       'Dwellings without basic facilities', 'Housing expenditure',
       'Rooms per person', 'Household net adjusted disposable income',
       'Household net financial wealth', 'Employment rate',
       'Long-term unemployment rate', 'Personal earnings',
       'Quality of support network', 'Educational attainment',
       'Student skills', 'Years in education', 'Air pollution',
       'Water quality', 'Voter turnout', 'Life expectancy',
       'Self-reported health', 'Life satisfaction', 'Homicide rate',
       'Employees working very long hours',
       'Time devoted to leisure and personal care'], dtype=object)

In [8]:
df[(df['Indicator'] == 'Life expectancy') & (df['Value'] > 1)]

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
2547,AUS,Australia,HS_LEB,Life expectancy,L,Value,TOT,Total,YR,Years,0,Units,NaN,NaN,82.5,NaN,NaN
2548,AUT,Austria,HS_LEB,Life expectancy,L,Value,TOT,Total,YR,Years,0,Units,NaN,NaN,81.3,NaN,NaN
2549,BEL,Belgium,HS_LEB,Life expectancy,L,Value,TOT,Total,YR,Years,0,Units,NaN,NaN,81.1,NaN,NaN
2550,CAN,Canada,HS_LEB,Life expectancy,L,Value,TOT,Total,YR,Years,0,Units,NaN,NaN,81.5,NaN,NaN
2551,CZE,Czech Republic,HS_LEB,Life expectancy,L,Value,TOT,Total,YR,Years,0,Units,NaN,NaN,78.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2659,LVA,Latvia,HS_LEB,Life expectancy,L,Value,WMN,Women,YR,Years,0,Units,NaN,NaN,79.5,NaN,NaN
2660,RUS,Russia,HS_LEB,Life expectancy,L,Value,WMN,Women,YR,Years,0,Units,NaN,NaN,76.7,NaN,NaN
2661,SVN,Slovenia,HS_LEB,Life expectancy,L,Value,WMN,Women,YR,Years,0,Units,NaN,NaN,83.9,NaN,NaN
2662,ZAF,South Africa,HS_LEB,Life expectancy,L,Value,WMN,Women,YR,Years,0,Units,NaN,NaN,59.5,NaN,NaN
2663,OECD,OECD - Total,HS_LEB,Life expectancy,L,Value,WMN,Women,YR,Years,0,Units,NaN,NaN,82.7,NaN,NaN